apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-scripts
  namespace: bird
data:
  ums.sql: |
    -- UMS Database Schema
    CREATE DATABASE IF NOT EXISTS `ums`;
    USE `ums`;

    DROP TABLE IF EXISTS `users_has_roles`;
    DROP TABLE IF EXISTS `users`;
    DROP TABLE IF EXISTS `roles`;
    DROP TABLE IF EXISTS `last_visit`;

    CREATE TABLE `last_visit` (
      `id` binary(16) NOT NULL,
      `in` int DEFAULT NULL,
      `out` int DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    CREATE TABLE `roles` (
      `id` binary(16) NOT NULL,
      `name` varchar(45) DEFAULT NULL,
      `description` varchar(45) DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    CREATE TABLE `users` (
      `id` binary(16) NOT NULL,
      `name` varchar(45) NOT NULL,
      `email` varchar(45) NOT NULL,
      `password` varchar(255) NULL DEFAULT '',
      `github_id` varchar(50) NULL,
      `created` int NOT NULL,
      `last_visit_id` binary(16) DEFAULT NULL,
      PRIMARY KEY (`id`),
      UNIQUE KEY `email_key` (`email`) USING BTREE,
      KEY `fk_users_last_visit1_idx` (`last_visit_id`),
      KEY `idx_github_id` (`github_id`),
      CONSTRAINT `users_ibfk_1` FOREIGN KEY (`last_visit_id`) REFERENCES `last_visit` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    CREATE TABLE `users_has_roles` (
      `users_id` binary(16) NOT NULL,
      `roles_id` binary(16) NOT NULL,
      PRIMARY KEY (`users_id`,`roles_id`),
      KEY `fk_users_has_roles_roles1_idx` (`roles_id`),
      KEY `fk_users_has_roles_users_idx` (`users_id`),
      CONSTRAINT `fk_users_has_roles_roles1` FOREIGN KEY (`roles_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
      CONSTRAINT `fk_users_has_roles_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    INSERT INTO `roles` (`id`, `name`, `description`) VALUES
    (X'43DCF1D63AC0429099FD44F9B9F9BECF', 'ADMIN', 'Administrative roles for the system'),
    (X'B479B3577E2547FA8DBABFDAEECC6C2C', 'SUBSCRIBER', 'Message content consumer'),
    (X'EB932DBB7005422FA6497190AF39E984', 'PRODUCER', 'Message content producer');

  twitter.sql: |
    -- Twitter Database Schema
    CREATE DATABASE IF NOT EXISTS `twitter`;
    USE `twitter`;

    DROP TABLE IF EXISTS `subscriptions`;
    DROP TABLE IF EXISTS `messages`;

    CREATE TABLE `messages` (
      `id` binary(16) NOT NULL,
      `user_id` binary(16) NOT NULL,
      `content` text NOT NULL,
      `created` int NOT NULL,
      PRIMARY KEY (`id`),
      KEY `idx_user_id` (`user_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    CREATE TABLE `subscriptions` (
      `id` binary(16) NOT NULL,
      `subscriber_id` binary(16) NOT NULL,
      `publisher_id` binary(16) NOT NULL,
      `created` int NOT NULL,
      PRIMARY KEY (`id`),
      UNIQUE KEY `unique_subscription` (`subscriber_id`, `publisher_id`),
      KEY `idx_subscriber` (`subscriber_id`),
      KEY `idx_publisher` (`publisher_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
